
<div id="fulldiv">
    <div class="ng-head flex">
        <span class="ng-title">受众群体</span>
        <div class="rg">
                <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
        </div>
    </div>
    <div class="ng-padding">
        <div class="flex ng-filter">
            <div class="lf">
                <button (click)="isVisible1=true"  nz-button nzType="primary" nzSize="large" nzShape="circle"><i nz-icon nzType="edit" nzTheme="fill"></i></button>
                <nz-dropdown-menu #menu7="nzDropdownMenu"> </nz-dropdown-menu>
                <button (click)="isVisible3=true"  nz-button nzType="primary" nzBlock><i nz-icon nzType="pushpin" nzTheme="fill"></i> 添加过滤条件</button>
                <div class="button-ul">
                    <button nz-button nzType="primary" nzSize="default" nzShape="round" *ngFor="let item of filters">{{item.title}} {{item.type}} {{item.value}}</button>
                </div>
            </div>
            <div class="rg">
                <div class="icon-text" nz-dropdown [nzDropdownMenu]="menu6">
                    <i nz-icon nzType="align-right" nzTheme="outline"></i>
                    <div>细分</div>
                </div>
                <nz-dropdown-menu #menu6="nzDropdownMenu">
                    <ul nz-menu>
                      <label *ngFor="let item of detail">
                            <li *ngIf="item.children" nz-submenu  [nzTitle]="item.title" >
                                <ul>
                                    <li *ngFor="let v of item.children" nz-menu-item>{{v.title}}</li>
                                </ul>
                            </li>
                            <li *ngIf="!item.children" nz-menu-item>{{item.title}}</li>
                      </label>
                    
                    </ul>
                  </nz-dropdown-menu>
                <div class="icon-text" nz-popover [nzPopoverContent]="menu3" nzPopoverTrigger="click">
                    <i nz-icon nzType="download" nzTheme="outline"></i>
                    <div>下载</div>
                </div>
                <ng-template #menu3>
                    <ul nz-menu>
                    <li nz-menu-item> <i nz-icon nzType="share-alt" nzTheme="outline"></i> 在编辑器打开</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item>Excel.csv</li>
                    <li nz-menu-item>.csv</li>
                    <li nz-menu-item>.tsv</li>
                    <li nz-menu-item>.pdf</li>
                    <li nz-menu-item>.xlsx</li>
                    <li nz-menu-item>.xml</li>
                    <li nz-menu-item>google表格</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item>立即用电子邮件发送</li>
                    <li nz-menu-item>安排时间</li>
                    <li nz-menu-item>更多选项</li>
                    </ul>
                </ng-template>
                <div class="icon-text" (click)="getdown()"  *ngIf="!fullscreen">
                    <i nz-icon nzType="fullscreen" nzTheme="outline"></i>
                    <div>展开</div>
                </div>
                <div class="icon-text" (click)="getdown()" *ngIf="fullscreen">
                    <i nz-icon nzType="fullscreen-exit" nzTheme="outline"></i>
                    <div>收起</div>
                </div>
                <div class="icon-text" nz-dropdown [nzDropdownMenu]="menu2">
                    <i nz-icon nzType="more" nzTheme="outline"></i>
                    <div>更多</div>
                </div>
                <nz-dropdown-menu #menu2="nzDropdownMenu">
                    <ul nz-menu>
                    <li nz-menu-item>粘贴</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item>创建自动规则</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item>打开“备注”面板</li>
                    <li nz-menu-item><i nz-icon nzType="cloud-upload" nzTheme="outline"></i>上传</li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </div>
        <nz-table #basicTable
        [nzData]="listOfData" 
        [nzBordered]="true"
        [nzScroll]="{ x: '1000px' }" 
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
            <thead>
            <tr>
                <th nzWidth="50px"  nzLeft  [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
                <th nzWidth="60px"  nzLeft ><nz-badge nzStatus="default"></nz-badge></th>
                <th nzWidth="300px"  nzLeft >排除受众群体</th>
                <th nzWidth="300px"  nzLeft >类型</th>
                <th nzWidth="300px"  nzLeft >排除了此对象的广告系列                </th>
                <th nzWidth="300px"  nzLeft >层级</th>
               
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data" (click)="keyInfo=data">
                <td   nzLeft [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                <td   nzLeft>  
                    <div nz-dropdown [nzDropdownMenu]="menu">
                        <nz-badge nzStatus="success" *ngIf="data.state"></nz-badge> 
                        <nz-badge nzStatus="default" *ngIf="!data.state"></nz-badge> 
                        <i nz-icon nzType="down" nzTheme="outline"></i>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                          <li nz-menu-item (click)="data.state=true">
                                 <nz-badge nzStatus="success" ></nz-badge> 
                          </li>
                          <li nz-menu-item (click)="data.state=false">
                                <nz-badge nzStatus="default"></nz-badge> 
                          </li>
                        </ul>
                      </nz-dropdown-menu>
                </td>
                <td nzLeft> 
                    <div class="ng-text">{{data.text}}</div>  
                    <div class="dashed">{{data.title}}  </div>
                </td>
                <td  nzLeft> {{data.type}} </td>
                <td  nzLeft> <a href="">{{data.name1}}</a>  </td>
                <td  nzLeft> <a href="">{{data.name2}}</a>  </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="修改广告系列表格中显示的列" (nzOnCancel)="isVisible=false"  nzWidth="60%">
           <div class="example-input ng-bottom">
                <input placeholder="input here" nz-input [(ngModel)]="train"  [nzAutocomplete]="auto" />
                <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
          </div>
          <nz-collapse>
            <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                <label nz-checkbox [(ngModel)]="v.checked" *ngFor="let v of panel.children">{{v.title}}</label>
            </nz-collapse-panel>
          </nz-collapse>
</nz-modal> 
<nz-modal [(nzVisible)]="isVisible1" nzTitle="修改受众群体" (nzOnCancel)="isVisible1=false"  nzWidth="60%">
    <p>选择要添加到广告系列或广告组的受众群体。您可以在受众群体管理器中创建新的受众群体。</p>
    <div class="ng-bottom">
        <nz-select [(ngModel)]="keyInfo.type">
            <nz-option
            nzLabel="广告组"
            nzValue="1">
            </nz-option>
            <nz-option
            nzLabel="广告系列"
            nzValue="2">
            </nz-option>
        </nz-select>
        <span style="margin-left: 10px;" class="ng-bottom" (click)="isVisible2=true">
            <a>广告组1 </a>
            <i nz-icon nzType="edit" nzTheme="fill"></i>
        </span>
    </div>
    <nz-radio-group [(ngModel)]="keyInfo.radio">
      <label nz-radio nzValue="1">
             定位条件
            <div class="ng-text">限定广告组只覆盖所选的受众群体，同时，您可以调整出价            </div>
      </label>
      <label nz-radio nzValue="2">
            观察（推荐）
            <div class="ng-text">不限定广告组的覆盖范围，同时，您可以针对所选的受众群体调整出价            </div>
      </label>
    </nz-radio-group>
    <nz-tabset style="border: 1px solid #eee;padding:0 15px">
      <nz-tab nzTitle="搜索">
          <div class="ng-input">
            <nz-input-group [nzPrefix]="suffixIconSearch">
                <input type="text" nz-input placeholder="试着搜一下“技术爱好者”" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
          </div>
          <div class="ng-margin">
              <div class="ng-bottom">
                <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate2">
                    <span class="ng-text">全选（{{checkOptionsOne.length}}）</span>
                </label>
              </div>
              <nz-checkbox-group class="checkbox-group" [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
          </div>
      </nz-tab>
      <nz-tab nzTitle="浏览">
        <nz-tree
            class="nz-tree"
            [nzData]="nodes"
            nzCheckable
            nzMultiple
            nzCheckStrictly
            [nzCheckedKeys]="defaultCheckedKeys"
            [nzExpandedKeys]="defaultExpandedKeys"
            (nzClick)="nzEvent($event)"
            (nzExpandChange)="nzEvent($event)"
            (nzCheckBoxChange)="nzEvent($event)"
            >
        </nz-tree>
      </nz-tab>
    </nz-tabset>
    
</nz-modal> 
<nz-modal [(nzVisible)]="isVisible2" nzTitle="选择广告组" (nzOnCancel)="isVisible2=false"  nzWidth="500px">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIcon2" nzSize="default">
        <input placeholder="按名称或广告系列 ID 搜索" nz-input [(ngModel)]="filter.name4"  />
      </nz-input-group>
      <ng-template #suffixIcon2>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ul nz-menu nzMode="inline">
        <li nz-menu-group [nzTitle]="optionGroups.length+'个广告组'"></li>
        <li nz-menu-item *ngFor="let option of optionGroups">
            
            <nz-badge nzStatus="success" [nzText]="option.title"></nz-badge>
        </li>
    </ul>
</nz-modal> 
<nz-modal [(nzVisible)]="isVisible3"(nzOnCancel)="isVisible3=false"  [nzClosable]="false"  nzWidth="500px">
     <nz-input-group nzSize="large" [nzSuffix]="suffixIcon2" nzSize="default">
        <input placeholder="按名称或广告系列 ID 搜索" nz-input [(ngModel)]="filter.name4"  />
      </nz-input-group>
      <ng-template #suffixIcon2>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ul nz-menu nzMode="inline" style="height: 450px;overflow-y: auto;overflow-x: hidden;">
        <li nz-menu-item *ngFor="let v of panels" (click)="getfilter(v)">{{v.title}}</li>
      </ul>
</nz-modal> 
<nz-modal [(nzVisible)]="isVisible4" (nzOnCancel)="isVisible4=false"  [nzTitle]="info.title" nzWidth="500px" (nzOnOk)="addfilter()">
        <div class="ng-flex">
            <nz-select [(ngModel)]="info.type" style="width: 100px;margin-right: 10px;">
                <nz-option
                    nzLabel=">"
                    nzValue=">">
                </nz-option>
                <nz-option
                    nzLabel=">="
                    nzValue=">=">
                </nz-option>
                <nz-option
                    nzLabel="="
                    nzValue="=">
                </nz-option>
                <nz-option
                    nzLabel="不等于"
                    nzValue="不等于">
                </nz-option>
                <nz-option
                    nzLabel="<"
                    nzValue="<">
                </nz-option>
                <nz-option
                    nzLabel="<="
                    nzValue="<=">
                </nz-option>
            </nz-select>
            <nz-input-number  nzPlaceHolder="值" [(ngModel)]="info.value" nzMin="0"></nz-input-number>
        </div>
</nz-modal> 