<div class="ng-w10">
    <nz-card class="pay ng-margin">
            <div class="ng-title">您的未结余额</div>
            <div class="price">NT$0.00</div>
            <div class="text">要继续购买此服务，请先为您的帐号充值</div>
            <div class="flex">
                    <div class="popover-title">
                        <i nz-icon nzType="credit-card" nzTheme="outline"></i>
                        <span>人工付款</span>
                    </div>
                    <button nz-button nzSize="large" nzType="primary">付款</button>
            </div>
    </nz-card>
    <div class="pay-content">
            <div class="lf">
                    <nz-card >
                        <div class="ng-title">交易</div>
                        <p>您目前没有任何交易</p>
                        <div class="footer">
                                <a>查看交易</a>
                        </div>
                    </nz-card>
            </div>
            <div class="rg">
                <nz-card>
                    <div class="ng-title">设置</div>
                    <p>Google Ads 980-713-9776</p>
                    <p> 钟曦 </p>
                    <a href="">1 位用户</a>
                    <div class="footer">
                            <a>管理设置</a>
                    </div>
                </nz-card>
                
            </div>
    </div>
</div>