.ng-edit{
    display: flex;
    position: relative;
    padding: 15px 25px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .title{
        width: 200px;
        padding-right: 15px;
        font-size: 15px;
    }
    .rg{
        position: absolute;
        right: 2%;
    }
    .edit-footer{
        border-top: 1px solid #eee;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding: 15px;
        button+button{
            margin-left: 10px;
        }
    }
    
}

.ng-edit:active{
    background-color: #eee;
}
.ng-edit.hover:hover{
    background-color: #eee;
}