

<nz-layout>
    <nz-sider [style]="{height:clientHeight+'px'}">
  
        <ul class="aside-ul">
            <a [routerLink]="[ '/home/overview' ]" routerLinkActive="active">
                    <i nz-icon nzType="appstore" nzTheme="outline"></i>
                    <span>{{'index' | translate}}</span>
            </a>
            <a [routerLink]="[ '/home/overview?state=2' ]" routerLinkActive="active">
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                    <span>{{ 'searchCampaigns' | translate}}</span>
            </a>
            <a [routerLink]="[ '/home/overview?state=3' ]" routerLinkActive="active">
                    <i nz-icon nzType="share-alt" nzTheme="outline"></i>
                    <span>{{'smartCampaigns' | translate}}</span>
            </a>

        </ul>
        <div class="aside-title">
            <span>已启用</span>
            <i nz-icon class="click-icon" nzType="swap" nzTheme="outline"></i>
        </div>
        <ul class="aside-ul" >
            <a *ngFor="let item of aside" [routerLink]="[ '/home/express' ]" routerLinkActive="active">
                <i class="success" nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                <span>{{item.title}}</span>
            </a>
        </ul>
    </nz-sider>
    <nz-content >
            <ul nz-menu nzMode="inline" [style]="{height:clientHeight+'px',overflowY:'auto',overflowX:'hidden'}" *ngIf="show">
                <label *ngFor="let item of menu" >
                    <li *ngIf="item.children" [nz-submenu]="false"   [nzTitle]="item.title" [nzIcon]="item.icon?item.icon:''"  [nzOpen]="item.open">
                        <ul>
                            <a  *ngFor="let v of item.children" nz-menu-item  [routerLink]="[ v.path ]" routerLinkActive="ant-menu-item-selected" >{{v.title}}</a> 
                        </ul>
                    </li>
                    <a *ngIf="!item.children" nz-menu-item  [routerLink]="[ item.path ]" routerLinkActive="ant-menu-item-selected" >{{item.title}}</a> 
                    
                </label>
            </ul>
            <div class="rg" [style]="{height:clientHeight+'px'}">
                <router-outlet></router-outlet>
            </div>
    </nz-content>
  </nz-layout>