.overview-content{
    padding: 15px;
}

.tool-ul{
    display: flex;
    li{
        padding:10px 15px;
        width: 185px;
        .num{
            font-size: 24px;
            line-height: 29px;
            margin-top: 10px;
        }
       
    }
    li:nth-child(1){
        background-color: #1A73E8;
        color: #fff;
    }
    li:nth-child(2){
        background-color: #D93025;
        color: #fff;
    }
    li:nth-child(3){
        background-color: #F9AB00;
        color: #000;
    }
    li:nth-child(4){
        background-color: #1E8E3E;
        color: #fff;
    }
}

.chart{
    height: 300px;
    width:100%;
}

.gong-ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.gong-ul>li{
    background-color: #fff;
    width: 32.5%;
    box-shadow: 0 0px 5px #ccc;
    margin: 5px;
    .groups{
        text-align: center;
        margin-top: 15px;
        a{
            font-size: 12px;
        }
    }
    .title{
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content{
        padding: 15px;
        height: 300px;
        overflow: hidden;
    }
    .iphone{
        position: relative;
        border: 4px solid #ddd;
        border-radius: 30px;
        padding:30px 15px;
        height: 400px;
        width: 350px;
        margin: 0 auto;
        a{
            display: block;
        }
        .iphone-contnet{
            border: 1px solid #ddd;
            padding: 10px;
            height: 100%;
        }
    }
    
  
    
    .iphone::after{
        content: "";
        top: 2%;
        left: 50%;
        margin-left: -7px;
        position: absolute;
        width: 14px;
        height: 14px;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    .paginator{
        padding:10px;
        border-top: 1px solid #ddd;
    }
}
.iphone-title{
    padding-top: 5px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
