<div class="ng-w10 ">
    <div class="product-ul">
        <nz-card *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
            <div class="title">
                <i nz-icon nzType="youtube" nzTheme="fill"></i>
                <span>youtube</span>
            </div>
            <div class="ng-margin">
                Gain insight into the actions people take on your website after an ad click or impression. Import site engagement metrics, track Universal Analytics (UA) goals and transactions as conversions, and import UA remarketing audiences.
            </div>
            <div class="footer">
                    <a href="">详细信息</a>
            </div>
        </nz-card>
    </div>
</div>
