<header id="google-header">
        <div class="lf">
                <i class="click-icon" nz-icon nzType="bars" nzTheme="outline"></i>
                <div  class="logo">
                      <img src="assets/logo.png" alt="">
                      <span>Google Ads</span>
                      <span>所有广告系列</span>
                </div>
        </div>
        <div class="rg">
            <ul class="head-tool">
                    <li>
                        <i nz-icon nzType="search" nzTheme="outline"></i>
                        <div>搜索</div>
                    </li>
                    <li>
                        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
                        <div>报告</div>
                    </li>
                    <li>
                        <i nz-icon nzType="tool" nzTheme="fill"></i>
                        <div>工具</div>
                    </li>
                    <li>
                        <i nz-icon nzType="setting" nzTheme="fill"></i>
                        <div>设置和结算</div>
                    </li>
            </ul>
            <ul class="head-ul">
                    <li>
                        <i class="click-icon" nz-icon nzType="reload" nzTheme="outline"></i>
                    </li>
                    <li>
                        <i class="click-icon" nz-icon nzType="question-circle" nzTheme="fill"></i>
                    </li>
                    <li>
                        <i class="click-icon" nz-icon nzType="bell" nzTheme="fill"></i>
                    </li>
            </ul>
            <div class="head-user">
                    <div class="content">
                        <div class="title">980-713-9776</div>
                        <div class="title">a543787366@gmail.com</div>
                    </div>
                    <div class="img"> </div>
            </div>
        </div>
</header>
