#fulldiv{
    background-color: #ECEEF1;
    transition: all 0.5s linear;
}
.chart{
    height: 400px;
    width: 100%;
}

.ant-collapse .ant-checkbox-wrapper{
    width: 200px;
    margin-left: 0;
}
.ant-popover{
    width: 500px;
}